.invalid {
    background-color: red
}

.valid {
    background-color: green
}

#input-wrapper {
    padding: 8px;
}

.list-item {
    padding: 4px;
    background: gray;
    border-bottom: 1px solid black;
}